<div class="strib-styles ssa ssb ssc">
<section class="container-lg elex-header">
  <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
  <h1>UFOs are back in the news — and Minnesotans are seeing more of them</h1>
  <div class="byline">
    <address>By
      <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
    </address>
    <span class="spacer"></span>
    Star Tribune
    <span class="spacer-alt"></span>
    <time pubdate datetime="2019-11-11T16:00:00">October 9, 2019</time>
  </div>
  <!-- share -->

  <p></p>
</section>

<p></p>

<section class="container-lg leadin">
    <p>"My wife and I noticed what we thought was a star. It then started moving up and down, side to side and at 90 degree angles," <a href="http://www.nuforc.org/webreports/148/S148909.html" target="new_">reads a September report</a> marked as coming from Hastings, Minn. "I have never seen anything like this before."</p>

    <p>"I was driving to work early in the morning and noticed double-layered lights surrounding a massive circular object in the sky around 494 and Minnetonka Blvd," <a href="http://www.nuforc.org/webreports/148/S148622.html" target="new_">reads another</a> from Minnetonka in August.</p>

    <p>“Just got home from buying a dirt bike for my kids and took it for a drive in the dark to the end of the driveway,” <a href="http://www.nuforc.org/webreports/146/S146583.html">described another</a> from Mora in June, “I saw a fireball looking circle moving around slightly about a half mile away, about 60 ft up, it just suddenly disappeared.”</p>

    <p>Nearly a hundred times each year, Minnesotans file reports of suspected UFO encounters with a volunteer organization known as the National UFO Reporting Center, which makes them <a href="http://www.nuforc.org/webreports.html">available to be searched online</a>.

    <p>Extraterrestrial encounters have been creeping back into the zeitgeist this year, with the U.S. Navy <a href="https://www.washingtonpost.com/national-security/2019/09/18/those-ufo-videos-are-real-navy-says-please-stop-saying-ufo/">acknowledging the existence</a> of mysterious flying objects in September. Soon after, thousands of revelers <a href="http://www.startribune.com/area-51-festival-wraps-up-in-nevada-earthlings-head-home/561051182/">descended on Area 51</a> as part of a viral stunt that began on Facebook.</p>

    <p>Meanwhile, Minnesotans have been quietly <a href="http://www.startribune.com/ufo-or-no-forty-years-later-a-minnesota-town-still-wonders/558012492/">celebrating the 40th anniversary</a> of the state’s most famous encounter, and scientists and media outlets <a href="http://www.startribune.com/lost-in-airspace-our-bearings-maybe-as-ufos-make-news/510938682/">paying closer attention to out-of-this-world sightings</a>.</p>

    <p>“People are looking up in the sky, people are watching and they know to report what they see,” said Tom Maher, Minnesota State Director of the Mutual UFO Network, one of the world's oldest and largest organizations of paranormal enthusiasts, which also collects local encounters.</p>

</section>

<div class="slide">

        <div class="chartTitle">Where Minnesotans report UFO sightings</div>
        <div class="chatter">Shows clusters of UFO sightings in Minnesota collected by the National UFO Reporting Center from 1947 to 2019, shaded from <span class="legendary blue1">1</span> to <span class="legendary steel">100</span> or <span class="legendary steel2">more</span> incidents.</div>

    <div id="mapCounties" class="map">
        <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
    </div>
</div>

<section class="container-lg">

    <p></p>

    <p>About half of Minnesota’s roughly UFO 1,700 sightings since the 1940s have taken place in this decade – perhaps in part because the skies are increasingly becoming crowded with drones, planes, weather balloons, and other objects that might be confused with alien technology.</p>

    <p>These reports are collected by <a href="http://www.nuforc.org/webreports/ndxlMN.html" target="new_">the National UFO Reporting Center</a>, a Washington-based organization that has investigated UFOs for nearly a half century. The Center also flags apparent hoaxes or incidents that could have simple explanations, like casino advertising lights, lens flares or satellites sweeping through night skies.</p>

    <p>But not everything is so readily explainable, with even the Pentagon struggling to account for every strange object spotted by its pilots. In <a href="https://www.nytimes.com/2019/05/26/us/politics/ufo-sightings-navy-pilots.html">recently released videos</a>, Navy pilots have reported seeing oddly shaped aircraft traveling at hypersonic speeds — which, so far, have defied clear explanation.</p>

    <p>“They’re not swamp gas, they’re not balloons, they’re something they can’t explain,” said Mike Harris, a field investigator in Minnesota’s chapter of the Mutual UFO Network, whose role involves parsing everyday phenomena from the unknown.</p>
</section>


<div class="slide">
    <div class="chartTitle">Shapes of the unknown</div>
    <div class="chatter">Among Minnesota <span class="legendary steel">UFO sightings</span>, lights and circles are the most commonly described shapes people report seeing.</div>

    <div id="chartType" class="chart"></div>
</div>


<section class="container-lg">
    <p></p>

    <p>Floating lights, circles, triangles and spheres are the most commonly submitted reports from Minnesotans. Sightings purportedly last anywhere from one second to over an hour.</p>

    <p>Harris said paranormal activity in television shows have drawn more people’s interest to the unexplained, and acknowleged the use of drones by hobbyists and governments could also be behind some incidents.</p>

    <p>Maher described himself as a skeptic, but not a cynic, and keeps himself open to possibilities of alien life, while acknowledging many UFO sightings have other plausible explanations.</p>

</section>

<div class="slide">
    <div class="chartTitle">Increasing UFO sightings over Minnesota</div>
    <div class="chatter">The number of <span class="legendary steel">submitted UFO sightings </span>from Minnesota to the National UFO Reporting Center have increased dramatically the past decade, peaking in 2015.</div>
    <div id="chartTrend" class="chart"></div>
</div>


<section class="container-lg">

    <p></p>

    <p>Maher said the Mutual UFO Network collects a separate set of privately submitted local reports, but that the group's investigators sometimes consult what appears in the National UFO Reporting Center's public database online.</p>

    <p>Both Harris and Maher have been involved with the network for years. The group holds monthly meetups in New Brighton, where attendees with talk about their experiences, show videos and listen to guest speakers on a wide array of topics.</p>

    <p>Meanwhile, government agencies and research institutions continue to cast their electronic eyes upon the skies looking for signs we aren't alone in the universe. And earlier this year, the SETI Institute released <a href="https://technosearch.seti.org/" target="new_">a new database</a> of searches for signs of extraterrestrial life since 1960.</p>

    <p>“There’s so much in the universe we don’t understand,” Maher said. “We can start going down the rabbit hole and never stop.”</p>
</section>

<section class="slide">
    <div class="byline">Data source: National UFO Reporting Center | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
</section>

<section class="container-lg">
    <div class="article-author-contact">
          <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=UFOs" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                  <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                  <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
          </div>
   </div>
</section>
</div>