<div class="strib-styles ssa ssb ssc">
        <!-- <div id="wrapper" class="slide">
                <div id="country" class="map"><svg width="800" height="500" viewBox="0 0 800 500" preserveAspectRatio="xMidYMid"></svg></div>
            </div> -->

  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>A glance at seven decades of UFO sightings over Minnesota</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <!-- <div class="article-dateline"><time pubdate datetime="2018-10-25T16:00:00">December 31, 2018</time></div> -->
    </section>

    <p></p>

    <section class="container-lg leadin">
        <p>"My wife and I noticed what we thought was a star. It then started moving up and down, side to side and at 90 degree angles," reads a September report marked as coming from Hastings, Minn. "I have never seen anything like this before."</p>

        <p>"I was driving to work early in the morning and noticed double-layered lights surrounding a massive circular object in the sky around 494 and Minnetonka Blvd," <a href="http://www.nuforc.org/webreports/148/S148622.html" target="new_">reads another</a> from Minnetonka in August.</p>

        <p>“Just got home from buying a dirt bike for my kids and took it for a drive in the dark to the end of the driveway,” <a href="http://www.nuforc.org/webreports/146/S146583.html">described another</a> from Mora in June, “I saw a fireball looking circle moving around slightly about a half mile away, about 60 ft up, it just suddenly disappeared.”</p>

        <p>Minnesotans average filing nearly a hundred seemingly strange reports like these annually, all available in online databases stretching back seven decades, with increasing encounters appearing across the last ten years.</p>

        <p>This year alone has been filled with fervor around UFOs, featuring the military acknowledging "unidentified aerial objects" as real, hundreds flooding Area 51 jokingly seeking alien life, Minnesotans <a href="http://www.startribune.com/ufo-or-no-forty-years-later-a-minnesota-town-still-wonders/558012492/">celebrating the 40th anniversary</a> of the state’s most famous encounter, and scientists and media outlets <a href="http://www.startribune.com/lost-in-airspace-our-bearings-maybe-as-ufos-make-news/510938682/">paying closer attention to out-of-this-world sightings</a>.</p>

    </section>

    <div class="slide">

            <div class="chartTitle">Where Minnesotans report UFO sightings</div>
            <div class="chatter">Shows clusters of UFO sightings in Minnesota collected by NUFORC from 1930 to 2019, shaded from <span class="legendary blue1">1</span> to <span class="legendary steel">100 or more</span> incidents.</div>
        
        <div id="mapCounties" class="map">
            <svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg>
        </div>
    </div>

    <section class="container-lg">

        <p></p>

        <p>About half of Minnesota’s roughly UFO 1,700 sightings have been concentrated in this decade – perhaps not accidentally coinciding with skies increasingly crowded by human flight, including drones, planes, weather balloons, military drills and more.</p>

        <p>Reports like these are collected by <a href="http://www.nuforc.org/webreports/ndxlMN.html" target="new_">the National UFO Reporting Center (NUFORC)</a>, a Washington-based organization that has investigated UFOs for nearly five decades. It also marks apparent hoaxes or incidents in its database that could have simple explanations, like casino advertising lights, lens flares or satellites sweeping through night skies.</p>

        <p>But not everything is so readily explainable, with even the Pentagon struggling to account for every strange object spotted by its pilots, including hypersonic aircraft flying at 30,000 feet against the wind and unknown shapes in recently-released military videos.</p>

        <p>“They’re not swamp gas, they’re not balloons, they’re something they can’t explain,” said Mike Harris, a director and field investigator in Minnesota’s chapter of the Mutual UFO Network (MUFON), one of the oldest and largest organizations of paranormal enthusiasts.</p>
    </section>

    <div class="slide">
            <div class="chartTitle">Increasing UFO sightings over Minnesota</div>
            <div class="chatter">The number of <span class="legendary steel">submitted UFO sightings </span>from Minnesota to NUFORCE have increased dramatically the past decade, peaking in 2015.</div>
            <div id="chartTrend" class="chart"></div>    
    </div>


    <section class="container-lg">
        <p></p>        
  
        <p>Meanwhile, users have flooded YouTube and other social media with smartphone photos of flying objects with varying credibility. And other everyday people submit their encounters to online databases for review by amateur investigators like Harris.</p>

        <p>While the increased use of drones by hobbyists and governments could be behind some incidents, Harris said, figuring out what actually happened during an encounter is part of his role as a MUFON field investigator.</p>

        <p>Strange lights, circles, triangles and spheres are the most commonly-submitted reports from Minnesotans in the NUFORC database, and sightings purportedly last anywhere from one second to over an hour.</p>

    </section>

    <div class="slide">
            <div class="chartTitle">Shapes of the unknown</div>
            <div class="chatter">Among Minnesota <span class="legendary steel">UFO sightings</span>, lights and circles are the most commonly described shapes people report seeing.</div>
            
            <div id="chartType" class="chart"></div>
    </div>
    
    <section class="container-lg">

        <p></p>
            

        <p>Harris has been involved with MUFON for 25 years, and the group holds monthly meetups where attendees talk about their experiences, show videos and listen to guest speakers.
            
        <p>He said the increased presence of the paranormal in television shows have drawn more people’s interest to the unexplained, whereas decades ago it was less discussed.</p>
  
        <p>Meanwhile, government agencies and research institutions continue to cast their electronic eyes upon the skies looking for signs we aren't alone in the universe. And earlier this year, the SETI Institute released <a href="https://technosearch.seti.org/" target="new_">a new database</a> of all its searches for alien life since 1960. </p>

        <p>Whether any official information identifying known UFO sightings will ever be released to general public remains to be seen.</p>
    </section>

    <section class="slide">
        <div class="byline">Data sources: National UFO Reporting Center | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </section>
    
    <section class="container-lg">
        <div class="article-author-contact">
              <div class="article-author-hcard">
                      <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                      <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=UFOs" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                      <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                      <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
              </div>
       </div>
    </section>
</div>